
body{
    background-image: linear-gradient(to right, #167ced 0%, #167ced 100%);
}

.col-md-6{
    margin-top: 150px !important;
    background-image: linear-gradient(120deg, #167ced 0%, #167ced 100%);
   

}

input[type=button]
{
    width: 100%;
    background-color: skyblue;
    color: white;
    font-weight: bolder;
    border: 2px solid black;

}
input[type=text]{
    width: 100%;
}
h1{
    font-weight: bolder !important;
    margin-top: 15px;
}